include ./includes/head.pug

div.c-stories__list
  story-preview(
    ng-show="inPaginatorScope(k)"
    ng-repeat="(k, story) in stories|showStories:filter" 
    ng-click="openStory(story.slug)"
    thetitle="{{ story.title }}"
    image="{{ story.preview_image }}"
    color="{{ story.preview_image_color }}"
    hero="{{ story.hero[0].term_name }}"
    city="{{ story.cities[0].term_name }}"
    filtered="{{ story.hide }}"
  )

div(ui-view="")
