header.c-event__head
  div(ng-show="event.start_date").c-event__date
    date-format(
      eventdate="{{ event.start_date }}" 
      sitelanguage="{{ siteConfig.site_language }}" 
      notexact="{{ event.exact_dates_uknown }}"
    )
    span(ng-show="event.end_date")  —  
    date-format(
      ng-show="event.end_date" 
      eventdate="{{ event.end_date }}" 
      sitelanguage="{{ siteConfig.site_language }}" 
      notexact="{{ event.exact_dates_uknown }}"
    )

  h1.c-event__title {{ event.title }}
