//- Related events (external uri, relative to events app)
div(
  ng-cloak ng-show="story.video_url"
  ng-if="story.related_events" 
).c-story__related-events
  div.c-story__content
    h3.c-section-title--negative {{ siteConfig.story_related_events_title }}
    div.c-story__related-posts
      a(
        ng-repeat="event in story.related_events"
        ng-href="{{ event.external_slug }}"
        ng-mouseenter="mouseHover=true"
        ng-mouseleave="mouseHover=false"
      ).c-event-preview--related
        include ../../../event/ng/preview--related-post.pug
