div(ng-switch-when="image").c-media-block
  div(
    style="background-image: url({{item.url}})"
    class="u-image-cover c-media-block__placeholder"
    ng-class="{ 'is-landscape': item.orientation === 'landscape', 'is-portrait': item.orientation === 'portrait', 'is-fit': item.orientation === 'fit' }"
    )
  a(
    ng-if="item.credit_link || item.credit"
    ng-bind-html="item.credit"
    ng-href="{{ item.credit_link }}"
  ).c-media-block__credits
  h4(ng-bind-html="item.title").c-media-block__title
  p(ng-bind-html="item.caption").c-media-block__caption
