div(ng-switch-when="video").c-media-block
  div.u-video-container
    embed-video(
      data-ng-href="{{ item.video_url }}" 
      controls="1"
      showinfo="0"
      cc_load_policy="1"
      rel="0"
      iframe-id="videoID"
      nologo="1"
      title="0"
      byline="0"
    )
  a(
    ng-if="item.credit_link || item.credit" 
    href="{{ item.credit_link }}"
  ).c-media-block__credits {{ item.credit }}
  h4.c-media-block__title {{ item.title }}
  p.c-media-block__caption {{ item.caption }}
