div.c-story__video.u-video-container
  embed-video(
    data-ng-href="{{ story.video_url }}" 
    controls="1"
    showinfo="0"
    nologo="1"
    cc_load_policy="1"
    rel="0"
    iframe-id="videoID"
    title="0"
    byline="0"
  )
