div(ng-switch-when="story").c-event__featured-story
  //- Section title
  h3.has-title
    span {{ siteConfig.event_featured_story_title }}

  div.has-video.u-video-container
    embed-video(
      data-ng-href="{{ item.video_url }}" 
      controls="0"
      iframe-id="videoID"
      nologo="1"
      showinfo="0"
      rel="0"
      title="0"
      byline="0"
    )
        
  //- Clickable quote/title
  a(
    ng-if="item.excerpt"
    ng-href="{{ item.external_slug }}"
  )
    blockquote.c-quote--featured-story
      div.c-icon-quote.c-quote__icon--featured-story
      div.c-quote__content
        h4(ng-bind-html="item.title").c-quote__text--featured-story
        div.c-quote__meta--featured-story
          span.c-quote__author--story
            strong {{ item.hero[0].term_name }},&nbsp;
            | {{ item.cities[0].term_name }}
  
