ul.c-post-sharing__list
  h4.c-post-sharing__label {{ siteConfig.share_label }}:
  //- facebook
  li.c-post-sharing__item
    a(href="#"
      socialshare
      socialshare-provider="facebook"
      socialshare-url="{{ absoluteUrl }}"
      socialshare-text="{{ workshop.title }}"
      socialshare-via="{{ facebook_app_id }}"
      socialshare-ref="{{ facebook_user_name }}"
    ).c-icon-facebook--circle.c-post-sharing__link--workshop
      span.u-visually-hidden {{ siteConfig.share_label }} Facebook
  //- twitter
  li.c-post-sharing__item
    a(href="#"
      socialshare
      socialshare-provider="twitter"
      socialshare-text="{{ workshop.title }}"
      socialshare-hashtags="{{ siteConfig.social_hashtags }}"
      socialshare-url="{{ absoluteUrl }}"
    ).c-icon-twitter--circle.c-post-sharing__link--workshop
      span.u-visually-hidden {{ siteConfig.share_label }} Twitter
  //- google plus
  li.c-post-sharing__item
    a(href="#"
      socialshare
      socialshare-provider="google"
      socialshare-url="{{ absoluteUrl }}"
    ).c-icon-googleplus--circle.c-post-sharing__link--workshop
      span.u-visually-hidden {{ siteConfig.share_label }} Google Plus
