div.ngvideo
  iframe(
    class="videoClass" 
    type="text/html" 
    width="{{ width }}" 
    height="{{ height }}" 
    ng-src="{{ url }}" 
    allowfullscreen = "allowfullscreen"
    frameborder="0"
  )
