div.c-timeline

  timeline(
    ng-if="filter.topics"
    data-options="{ nav: false, dots: true, dotClass: 'c-timeline__dot', dotsClass: 'c-timeline__pagination' }"
  ).c-timeline__events.owl-carousel
      
    event-preview(
      timeline-item=""
      ng-repeat="event in events|showEvents:filter"
      ng-click="openEvent(event.slug)"
      title="{{ event.title }}"
      image="{{ event.preview_image }}"
      year="{{ event.year }}"
      filtered="{{ event.hide }}"
    )

  //- carousel navigation
  div.c-timeline__navigation
    div.c-icon-arrow-left--circle.is-previous.js-timeline__previous
    div.c-timeline__line
    div.c-icon-arrow-right--circle.is-next.js-timeline__next
